* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    user-select: none;
}
.container {
    width: 100%;
    min-width: 700px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}
.vignette {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('./img/vignette.png');
}
.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.time {
    font-size: 7vw;
    color: #fff;
    font-weight: 200;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 100px #000;
    font-family: -WEBKIT-PICTOGRAPH;
    letter-spacing: 5px;
}
.bigTime {
    font-size: 15vw;
    color: rgba(255,255,255,.6);
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 100px #000;
    font-family: -WEBKIT-PICTOGRAPH;
    letter-spacing: 5px;
    height: fit-content;
}
.search-bar {
    display: block;
    width: 500px;
    height: 35px;
    background-color: #fff;
    margin: 2vh auto 0 auto;
    box-shadow: 0px 0px 1px 1px #b9b9b9;
    border-radius: 5px;
    overflow: hidden;
}
.icon {    
    float: left;
    width: 35px;
    height: 35px;
    background-size: 80% 80%;
    background-position: center;
    background-image: url(./img/saan.png);
    background-repeat: no-repeat;
    border-right: 1px solid #eee;
    cursor: pointer;
}
#search {
    width: calc(100% - 80px);
    height: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
    float: left;
}
.search-btn {    
    float: right;
    width: 34px;
    height: 34px;
}
#searchBtn {
    border: none;
    background-color: #fff;
    width: 100%;
    height: 100%;
    background-size: 70% 70%;
    background-position: center;
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    cursor: pointer;
    border-left: 1px solid #eee;
    outline: none;

}

.label-wrapper {
    width: 88vw;
    margin: 5vh auto 0 auto;
    height: 60vh;
    display: flex;
    flex-flow: wrap;
}
.labl {
    width: 10vw;
    height: 20vh;
    cursor: pointer;
    margin: 1vw 2vh;
    text-align: center;
    border-radius: 5px;
    transition: background-color,box-shadow .3s;
}
.labl > a {
    display: block;
    text-decoration: none;
}
.labl:hover > a .lpic {
    box-shadow: 0px 0px 15px 2px #b7b4b4;
    width: 7.5vw;
    height: 7.5vw;
}
.labl:hover > a .lname {
    background-color: rgba(255,255,255,.5);
}
.lpic {
    width: 7vw;
    height: 7vw;
    display: block;
    border-radius: 15px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: all .3s;
}
.lname {
    color: #fff;
    border-radius: 5px;
    width: 7vw;
    margin: 1vh auto;
    padding: 3px 15px;
    font-size: inherit;
    text-shadow: 0 0 3px #222;
    transition: all .3s;
}
.focus {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: .4;
    transition: all .3s;
}
.focus span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.focus p {
    position: absolute;
    top: -20px;
    left: -7px;
    white-space: nowrap;
    opacity: 0;
    transition: all .3s;
    pointer-events: none;
}
.focus:hover{
    opacity: .8;
}
.focus:hover p{
    opacity: .8;
}

.pomodoro {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    bottom: 55px;
    left: 12px;
    color: #fff;
    opacity: .4;
    transition: all .3s;
    background-image: url('/img/icon/clock.png');
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}
.pomodoro > p {
    position: absolute;
    top: -15px;
    left: -8px;
    white-space: nowrap;
    opacity: 0;
    transition: all .3s;
}
.pomodoro:hover{
    opacity: .8;
}
.pomodoro:hover p{
    opacity: .8;
}
.p-timer {
    position: fixed;
    width: 81vw;
    height: 50vh;
    display: none;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    font-size: 0;
    opacity: .8;
}
.p-timer > div {
    display: inline-block;
    box-sizing: border-box;
    opacity: .8;
    color: #fff;
}
.p-timer .one {
    width: 100%;
    height: 60%;
    border-bottom: 5px solid #eee;
    font-size: 13rem;
}
.p-timer .two {
    width: 60%;
    height: 40%;
    border-right: 5px solid #eee;
    font-size: 25px;
}
.p-timer .three {
    width: 40%;
    height: 40%;
    font-size: 25px;
}